/* general css ele */

@font-face {
    font-family: DIN;
    src: url(res/font/DINArabic-Regular.ttf);
}

.f-din {
    font-family: DIN;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.btn-g {
    color: #fff;
    background-color: #C19D46;
    border-color: #C19D46;
}

.btn-g:hover {
    color: #000;
    background-color: #D7B04D;
    border-color: #D7B04D;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.btn-nav-icon {
    font-size: 30px;
    font-weight: 800;
}

.btn-nav-icon:hover {
    font-size: 30px;
    color: #FECF47;
}

/* main page */

#btn-go {
    font-size: 26px;
    font-weight: bold;
}

#link-skip:hover {
    color: #fecf47ff;
}

#img-logo {
    border-radius: 50px;
    width: 80%;
    margin: 5%;
}

#txt-intro {
    font-size: 20px;
    font-weight: 400;
    margin: auto;
}

/* auth pages  */

#txt-optionOR {
    border-top: 1px solid #ccc;
    padding-top: 5%;
}

.social-icon {
    color: #FECF47;
    font-size: 38px;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn:active, .show>.btn.dropdown-toggle {
    color: #000;
    background-color: #FECF47;
    border-color: #FECF47;
}

/* U1 pages */

.prof-img {
    font-size: 45px;
    color: #fff;
}

.btm-nav {
    width: 100%;
    background-color: rgb(245, 245, 245);
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 -5px 5px 0 rgb(0 0 0 / 15%);
    /* border-radius: 12px 12px 0 0; */
    justify-content: space-between!important;
}

.active-icon {
    font-size: 30px;
    color: #F68F34;
}

.btn-icon {
    font-size: 60px;
}

#btn-container {
    border: 1px solid #C19D46;
    border-radius: 10px;
    box-shadow: 25px #ccc;
}