/* general css ele */

@font-face {
    font-family: DIN;
    src: url(res/font/DINArabic-Regular.ttf);
}

.f-din {
    font-family: DIN;
}

.w80 {
    width: 80%;
}
.w70 {
    width: 70%;
}
.w60 {
    width: 60%;
}
.w50 {
    width: 50%;
}
.w40 {
    width: 40%;
}
.w30 {
    width: 30%;
}
.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.bold{
    font-weight: bold;
}

.color-white {
    color: white;
}

.btn-g {
    color: #fff;
    background-color: #C19D46;
    border-color: #C19D46;
}

.btn-g:hover {
    color: #000;
    background-color: #D7B04D;
    border-color: #D7B04D;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* main page */

#btn-go {
    font-size: 26px;
    font-weight: bold;
}

#link-skip:hover {
    color: #fecf47ff;
}

#img-logo {
    border-radius: 50px;
    width: 80%;
    margin: 5%;
}

#txt-intro{
    font-size: 20px;
    font-weight: 400;
}

/* auth pages  */

#txt-optionOR{
    border-top: 1px solid #ccc;
    padding-top: 5%;
}

.social-icon{
    color: #FECF47;
    font-size: 38px;
}